<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FIT Monster LeaderBoard</title>
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet/less" type="text/css" href="styles/main.less" />
    <!-- endbuild -->

  </head>
  <body ng-app="myApp">
  <!-- header --> 
    <header class="header" >
    <div class="logo" id="nav">
    <div class="shing">
    <a href="http://www.fitmonster.cz">
      <img href="http://www.fitmonster.cz" src="img/monster.png" width="160px"></img>
    </a>
    </div>
    </div>
    </header>

  <div id="container" ng-controller="athletesCtrl">

    <!-- Menu -->
    <div class="col-centered">
        <h1>
          <br>MENS
        </h1>

         <div class="col-md-1" id="custom-search-input">
                <input type="text" class="search-query form-control" placeholder="Search" ng-model = "searchName"/>
                      <div id="search-icon"><span class="glyphicon glyphicon-search"></span></div>
          </div>
          </div>

  <!-- table -->
<div class="col-lg-7 col-centered" id="leaderBoard">

  <div class="clearfix">
  <!-- ng-repeat -->
      <div class="row" id="mainRow" ng-repeat="athlete in athletes | orderBy:sortType:sortReverse | filter:searchName" ng-click="isCollapsed = !isCollapsed">
        <!-- place -->
          <div class="col-xs-1" id="place" ng-class-odd="#place" ng-class-even="#place-even">#{{$index + 1}}</div>
        <!-- photo -->
          <div class="col-xs-2" id="photo"></div>
        <!-- name -->
          <div class="col-xs-5" id="name">{{ athlete.name }}</div>
        <!-- border -->
          <div id="border"></div>
        <!-- gym -->
          <div class="col-xs-2" id="gym">{{ athlete.gym }}</div>
        <!-- score -->
          <div class="col-xs-2" id="score">{{ athlete.score }}</div>
          <!-- bio --
            <div class="clearfix">
                  <div class="row" id="bio" uib-collapse="isCollapsed">
                      <div class="col-xs-4">Gym: <b>{{ athlete.gym }}</b><br>
                          Věk: <b>{{ athlete.age }}</b> <br>
                          Výška: <b>{{ athlete.height }}</b> <br>
                          Váha: <b>{{ athlete.weight }}</b> <br>
                          Let v Crossfitu: <b>{{ athlete.yInC }}</b>
                      </div>
                      <div class="col-xs-4">Clean & Jerk: <b>{{ athlete.cj }}</b> <br>
                          Snatch: <b>{{ athlete.snatch }}</b> <br>
                          Deadlift: <b>{{ athlete.deadlift }}</b> <br>
                          Front Squat: <b>{{ athlete.frontSquat }}</b> <br>
                          Back Squat: <b>{{ athlete.backSquat }}</b> <br>
                      </div>
                      <div class="col-xs-4">Fran: <b>{{ athlete.fran }}</b> <br>
                          Helen: <b>{{ athlete.helen }}</b> <br>
                          Grace: <b>{{ athlete.grace }}</b> <br>
                          Sprint 400m: <b>{{ athlete.sprint }}</b> <br>
                          1K row: <b>{{ athlete.row }}</b>
                      </div>
                  </div>
             </div>
              <!-- bio --> 

      </div>
      <!-- ng-repeat -->
  </div>
</div>
<!-- table -->
</div>
<!--
        <div class="leaderBoard col-md-6 col-centered">
          <div class="row span12 col-centered" ng-repeat="athlete in athletes | orderBy:sortType:sortReverse | filter:searchName">
            <div class="span2 place">{{athlete.place}}</div>
            <div class="row mainRow" ng-click="isCollapsed = !isCollapsed">
              <div class="span5 name">{{athlete.name}}</div>
              <div class="span3 gym">{{athlete.gym}}</div>
          <div class="row trBio" uib-collapse="isCollapsed">
          <div class="tdBio1 span2">Gym: <b>{{ athlete.gym }}</b><br>
              Věk: <b>{{ athlete.age }}</b> <br>
              Výška: <b>{{ athlete.height }}</b> <br>
              Váha: <b>{{ athlete.weight }}</b> <br>
              Let v Crossfitu: <b>{{ athlete.yInC }}</b>
          </div>
          <div class="tdBio2 span2">Clean & Jerk: <b>{{ athlete.cj }}</b> <br>
              Snatch: <b>{{ athlete.snatch }}</b> <br>
              Deadlift: <b>{{ athlete.deadlift }}</b> <br>
              Front Squat: <b>{{ athlete.frontSquat }}</b> <br>
              Back Squat: <b>{{ athlete.backSquat }}</b> <br>
          </div>
          <div class="tdBio3 span2">Fran: <b>{{ athlete.fran }}</b> <br>
              Helen: <b>{{ athlete.helen }}</b> <br>
              Grace: <b>{{ athlete.grace }}</b> <br>
              Sprint 400m: <b>{{ athlete.sprint }}</b> <br>
              1K row: <b>{{ athlete.row }}</b>
          </div>
          </div>
            </div>
            <div class="span2 score">{{athlete.score}}</div>
          </div>
      </div>
    </div>
-->


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/less/dist/less.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/matchHeight/dist/jquery.matchHeight.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- modules -->
        <script src="scripts/app.js"></script>
        <!-- endbuild -->

        <!-- Controllers -->
        <script src="scripts/controllers/athletesCtrl.js"></script>
        <script src="scripts/controllers/CollapseCtrl.js"></script>
        <!-- endbuild -->
</body>
</html>
