<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet/less" type="text/css" href="styles/main.less" />
    <!-- endbuild -->

  </head>
  <body ng-app="myApp">
    <header class="header">
    <a href="http://www.fitmonster.cz">
      <img href="http://www.fitmonster.cz" align="middle" src="img/monster.png" width="160px"></img>
    </a>
    </header>

  <div id="wrap">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="table-h1">
          <i class="fa fa-male fa-fw"></i>
          <br>Muži
        </h1>

      <div ng-controller="athletesCtrl"> 

         <div class="center-block col-md-4" style="float: none;">
          <i class="fa fa-search"></i> 
          <input type = "text" ng-model = "searchName">
      </div>

      <table class="table" ng-controller="CollapseCtrl">
      <thead>
        <tr id="tr-head">
          <td>Place</td>
          <td>Name</td>
          <td>Gym</td>
          <td>Score</td>
         </tr>
        </thead> 
        <tbody ng-repeat="athlete in athletes | orderBy:sortType:sortReverse | filter:searchName">
        <tr class="tr" ng-click="isCollapsed = !isCollapsed">
          <td class="td1">{{ athlete.place }}</td>
          <td class="td2">{{ athlete.name }}</td>
          <td class="td3">{{ athlete.gym }}</td>
          <td class="td4">{{ athlete.score }}</td>
        </tr>
        <tr class="trBio" uib-collapse="isCollapsed">
          <td class="trBio" colspan="4">
          <div class="row">
          <div class="tdBio1 col-xs-4">Gym: <b>{{ athlete.gym }}</b><br>
              Věk: <b>{{ athlete.age }}</b> <br>
              Výška: <b>{{ athlete.height }}</b> <br>
              Váha: <b>{{ athlete.weight }}</b> <br>
              Let v Crossfitu: <b>{{ athlete.yInC }}</b>
          </div>
          <div class="tdBio2 col-xs-4">Clean & Jerk: <b>{{ athlete.cj }}</b> <br>
              Snatch: <b>{{ athlete.snatch }}</b> <br>
              Deadlift: <b>{{ athlete.deadlift }}</b> <br>
              Front Squat: <b>{{ athlete.frontSquat }}</b> <br>
              Back Squat: <b>{{ athlete.backSquat }}</b> <br>
          </div>
          <div class="tdBio3 col-xs-4">Fran: <b>{{ athlete.fran }}</b> <br>
              Helen: <b>{{ athlete.helen }}</b> <br>
              Grace: <b>{{ athlete.grace }}</b> <br>
              Sprint 400m: <b>{{ athlete.sprint }}</b> <br>
              1K row: <b>{{ athlete.row }}</b>
          </div>
          </div>
          </td>
          </tr>
        </tbody>
      </table>
      </div>
      </div>

      <div class="col-sm-6">
        <h1 class="table-h1b">
          <i class="fa fa-female fa-fw"></i>
          <br>Ženy
        </h1>

        <div ng-controller="athletesCtrl"> 

            <div class="center-block col-md-4" style="float: none;">
              <i class="fa fa-search"></i> 
              <input type = "text" ng-model = "searchName">
            </div>

      <table class="table" ng-controller="CollapseCtrl">
      <thead>
        <tr id="tr-head">
          <td>Place</td>
          <td>Name</td>
          <td>Gym</td>
          <td>Score</td>
         </tr>
        </thead> 
        <tbody ng-repeat="athlete in athletes | orderBy:sortType:sortReverse | filter:searchName">
        <tr class="tr" ng-click="isCollapsed = !isCollapsed">
          <td class="td1" >{{ athlete.place }}</td>
          <td></td>
          <td class="td2">{{ athlete.name }}</td>
          <td class="td3">{{ athlete.gym }}</td>
          <td></td>
          <td class="td4">{{ athlete.score }}</td>
        </tr>
        <tr class="trBio" uib-collapse="isCollapsed">
          <td class="tdBio1" colspan="2">Gym: <b>{{ athlete.gym }}</b><br>
              Věk: <b>{{ athlete.age }}</b> <br>
              Výška: <b>{{ athlete.height }}</b> <br>
              Váha: <b>{{ athlete.weight }}</b> <br>
              Let v Crossfitu: <b>{{ athlete.yInC }}</b>
          </td>
          <td class="tdBio2" colspan="2">Clean & Jerk: <b>{{ athlete.cj }}</b> <br>
              Snatch: <b>{{ athlete.snatch }}</b> <br>
              Deadlift: <b>{{ athlete.deadlift }}</b> <br>
              Front Squat: <b>{{ athlete.frontSquat }}</b> <br>
              Back Squat: <b>{{ athlete.backSquat }}</b> <br>
          </td>
          <td class="tdBio3" colspan="2">Fran: <b>{{ athlete.fran }}</b> <br>
              Helen: <b>{{ athlete.helen }}</b> <br>
              Grace: <b>{{ athlete.grace }}</b> <br>
              Sprint 400m: <b>{{ athlete.sprint }}</b> <br>
              1K row: <b>{{ athlete.row }}</b>
          </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
   </div>
  </div>

<footer>2016 Fit Monster Team, z.s.</footer>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/less/dist/less.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- modules -->
        <script src="scripts/app.js"></script>
        <!-- endbuild -->

        <!-- Controllers -->
        <script src="scripts/controllers/athletesCtrl.js"></script>
        <script src="scripts/controllers/CollapseCtrl.js"></script>
        <!-- endbuild -->
</body>
</html>
