/* ADMIN */

@import (less) 'mixins.less';

.search-table {
  width: 90%;
  height: 120px;
  border: 1px solid @grey;
}

.blue-button {
  background: @blue-pastel;
  color: @white;
  font-weight: 600;

  cursor: pointer;
  text-align: center;

  color: @white;
  background-color: @blue-pastel;

  .border-radius;
  &:hover,
  &:focus,
  &:active
  {
    color: @silver;
    .categoryBtn-hover;
  }
}

.wod-buttons-group {
  text-align: center;
}

.wod-button {
    font-size: 1.5rem;
    font-weight: 600;

    position: relative;
    top: 0;

    width: 120px;
    height: 50px;

    cursor: pointer;
    text-align: center;

    color: @dark-grey;
    border: 1px solid @dark-grey;
    background-color: transparent;

    .border-radius;
    &:hover,
    &:focus,
    &:active
    {
        color: @silver;
        outline: 0 none;

        .categoryBtn-hover;
    }
}

/*
.ui-grid-cell-contents {
  vertical-align: middle;
}
*/

#edit-btn {
  padding: 2px 4px;
}

.header {
  font-weight: 600;
  font-size: 56px;
}


/* UI grid */
.athletesGrid {
  display: block;
  margin-left: auto;
  margin-right: auto
  width: 90%;
  height: 500px;
}
