/* DASHBOARD */

@import (less) 'mixins.less';

/* Main */

.main
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 85%;
    height: 100%;
    margin: 55px 0 0 15%;
    padding: 0;
    @media only screen and (max-width: 730px)
    {
        width: 100%;
        margin-left: 0;
    }
}

/* navigation panels */
.panel-top
{
    position: fixed;
    z-index: 1000;
    right: 0;

    width: 85%;
    height: 55px;

    background-color: @panel-top;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    @media only screen and (max-width: 730px)
    {
        width: 100%;
    }
}

.panel-left
{
    position: fixed;

    width: 15%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: @panel-left;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    @media only screen and (max-width: 730px)
    {
        display: none;
    }
}

/* content */

.content-wrap
{
    margin: 20px 30px 20px 30px;
    @media only screen and (max-width: 1024px)
    {
        margin: 20px 30px 20px 30px;
    }
    @media only screen and (max-width: 768px)
    {
        margin: 10px 20px 10px 20px;
    }
    @media only screen and (max-width: 425px)
    {
        margin: 0;
    }
}

/* mobile menu */

.mobile-menu
{
    left: 20px;

    display: none;

    margin-top: 4px;

    .vertical-align;
    @media only screen and (max-width: 730px)
    {
        font-size: 3rem;

        display: inline-block;

        color: @silver;
    }
}

.dropdown-mobile
{
    position: absolute;
    left: -20px;
}


/* logo */
.nav-logo
{
    float: none;

    margin: 20px auto;

    text-align: center;
}

#logo
{
    width: 100px;
}

/* Top nav */

.nav-photo
{
    position: absolute;
    right: 20px;

    display: inline-block;

    width: 40px;
    height: 40px;
    margin-top: 5px;
}

#nav-icon
{
    z-index: 1000;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid @male;
    border-radius: 100%;
    &:hover
    {
        cursor: pointer;

        opacity: .5;
    }
}

.user-name
{
    right: 100px;

    display: inline-block;

    .vertical-align;
}

h4
{
    color: @silver;
}

.dropdown-nav
{
    position: absolute;
    left: -120px;

    margin-top: 10px;
    @media only screen and (max-width: 425px)
    {
        left: -100px;
    }
}

/* Left nav */

.menu-btn
{
    font-size: 1.5rem;
    font-weight: 600;

    position: relative;
    top: 0;

    width: 100%;
    height: 60px;
    padding-left: 20px;

    cursor: pointer;
    text-align: left;

    color: @silver;
    border: .5px solid @dark-grey;
    border-left: 0;
    background-color: transparent;
    &:hover,
    {
        outline: 0 none;

        .user-menuBtn;
    }
    &:focus,
    &:active
    {
        font-size: 1.7rem;

        border-right: 0;
        outline: 0 none;

        .categoryBtn-hover;
    }
    @media only screen and (max-width: 1024px)
    {
        padding-left: 50px;
    }
    @media only screen and (max-width: 768px)
    {
        padding-left: 20px;
    }
    @media only screen and (max-width: 425px)
    {
        display: none;
    }
}

.menu-btn-active
{
    font-size: 1.7rem;
    font-weight: 600;

    position: relative;
    top: 0;

    width: 100%;
    height: 60px;
    padding-left: 20px;

    cursor: pointer;
    text-align: left;

    color: @silver;
    border: .5px solid @dark-grey;
    border-right: 0;
    border-left: 0;
    outline: 0 none;

    .categoryBtn-hover;
    @media only screen and (max-width: 1024px)
    {
        padding-left: 30px;
    }
    @media only screen and (max-width: 768px)
    {
        padding-left: 20px;
    }
    @media only screen and (max-width: 425px)
    {
        display: none;
    }
}

.btn-wrapper
{
    margin-top: 50px;
}

.icon
{
    padding-right: 20px;
}

/* qualification */

.qual-wrap
{
    margin-top: 0;
    margin-bottom: 30px;

    border: 1px solid @grey;

    .border-radius;
}

.submit-qual
{
    font-size: 1.5rem;
    font-weight: 600;

    position: relative;

    min-width: 180px;
    min-height: 60px;
    margin: 20px auto;

    cursor: pointer;
    text-align: center;

    color: @body;
    border: .5px solid @grey;

    .categoryBtn-hover;
    .border-radius;
    &:hover,
    {
        color: @silver;
        outline: 0 none;

        .categoryBtn;
    }
    &:focus,
    &:active
    {
        color: @silver;
        outline: 0 none;

        .categoryBtn-hover;
    }
}

.fa.fa-video-camera
{
    font-size: 2.5rem;

    left: 10%;

    padding: 10px;

    .vertical-align;
}

.submit-text
{
    font-size: 1.5rem;

    left: 40%;

    .vertical-align;
}

.qual-info
{
    position: absolute;

    width: 80%;
    margin: 20px;

    background-color: blue;
}

.infobox-qual
{
    position: relative;
    top: -20px;

    margin-left: 30px;

    text-align: center;
}

.standarts
{
    position: relative;

    color: @grey;
    border: 0;
    background-color: transparent;
    &:hover,
    {
        color: @blue-pastel;
        outline: 0 none;
    }
    &:focus,
    &:active
    {
        outline: 0 none;
    }
}

.tickets
{
    cursor: pointer;

    color: @grey;
    border: 0;
    background-color: transparent;
    &:hover,
    {
        color: @blue-pastel;
        outline: 0 none;
    }
    &:focus,
    &:active
    {
        outline: 0 none;
    }
}

.labeltext
{
    font-size: 1.5rem;

    color: black;
}

/* editable */
.edit
{
    font-size: 3rem;

    position: absolute;
    z-index: 2;
    top: 0;
    right: 5px;

    padding: 10px;

    cursor: pointer;

    color: @colorYellow;
    border: none;
    background-color: transparent;
    &:hover,
    &:active,
    &:focus
    {
        opacity: .8;
        outline: none;
    }
}

.save
{
    font-size: 3rem;

    cursor: pointer;

    color: @colorGreen;
    &:hover
    {
        opacity: .7;
    }
}

.cancel
{
    font-size: 3rem;

    cursor: pointer;

    color: @colorRed;
    &:hover
    {
        opacity: .7;
    }
}

/* profile */
.profile-wrap
{
    margin-top: 20px;
    margin-bottom: 20px;

    border: 1px solid @grey;

    .border-radius;
}

.profile-pic
{
    width: 100px;
    height: 100px;

    border-radius: 100%;
}
.value-text
{
    text-decoration: none;

    color: @blue-pastel;
    border-bottom: 1px dotted @blue-pastel;
}

// edit password
.msg-block
{
    margin-top: 5px;
}
.msg-error
{
    font-size: 14px;

    color: #f00;
}

.fa.fa-pencil
{
    margin-left: 5px;

    color: @colorYellow;
}

/* Judge */
.tH
{
    font-size: 1.4rem;

    text-align: left;

    color: @grey;

    margin-top: 20px;

    // @media only screen and (max-width: 425px)
    // {
    //     font-size: .9rem;
    // }
}

.judgerow
{
    margin: 5px 0 20px 0;
    padding: 20px 0 20px 0;
    background-color: @grey65;
    color: @brown-grey;
    cursor: not-allowed;
    // border: 1px dashed @grey;

    .border-radius;

    &:hover {
        background-color: @grey60;
    }
}

.judgerow-active
{
    margin: 5px 0 20px 0;
    padding: 20px 0 20px 0;
    background-color: @downy;
    color: @body;
    cursor: default;
    // border: 1px dashed @grey;

    .border-radius;

    &:hover {
        background-color: @downy-hover;
    }
}

.wodTh
{
    margin-top: -10px;
}

.videolink-disable {
    margin: auto;
    font-size: 2.1rem;
    color: @brown-grey;
    cursor: not-allowed;
    background-color: transparent;
    border: none;

    &:hover, &:active, &:focus {
        color: @brown-grey;
        background-color: transparent;
        outline: none;
        border: none;
        underline: none;

    }

}

.videolink {
    margin: auto;
    font-size: 2.1rem;
    color: @blue-pastel;
    cursor: pointer;

    &:hover, &:active, &:focus {
        color: @blue-pastel-gradient;
        background-color: transparent;
        outline: none;
        border: none;
        underline: none;
    }

    &:visited {
        color: @hoki;
    }

}

.judgeBtn {
    display: inline-block;
    .border-radius;
    .judgeBtn;
    border: none;
    color: @body;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.judgeBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.judgeBtn span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.judgeBtn:hover span {
  padding-left: 25px;
}

.judgeBtn:hover span:after {
  opacity: 1;
  right: 0;
}

#judgeGavel {
    display: none;
}

#judgeGavel span:after {
    display: inline;
    position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
  color: @body;
}

.navNext {
    margin-top: 50px;
}

// table judged

.judged {
    color: @grey;
}