<div class="body">
<!-- header -->
<header class="header" >
	<div class="logo" id="nav">
		<div class="shing">
			<a href="http://www.fitmonster.cz">
				<img href="http://www.fitmonster.cz" src="img/monster.png" width="160px"></img>
			</a>
		</div>
	</div>
</header>

<!-- Navigation -->
<div class="nav">

<!-- Category -->
	<div class="toggle_radio">
		<div id="toggle_slider"></div>
    	<button class="cat-button" id="elite" ng-click="showCategory = 'elite'">ELITE</button>
    	<button class="cat-button" id="masters" ng-click="showCategory = 'masters'">MASTERS</button>
    	<button class="cat-button" id="open" ng-click="showCategory = 'open'">OPEN</button>
    </div>
<!-- Sex -->
    <div class="sex-radio">
    	<img id="male" ng-click="sex = 'default'" src="img/man.png">
    	<img id="female" ng-click="sex = 'female'" src="img/woman.png">
    </div>
<!-- Workout -->
	<div class="workout-list">
	</div>
</div>

<div id="container">
	<!-- Info -->
	<div class="col-centered">
		<div id="sexHeader">
		<!-- Sex Header -->
			<h1 ng-bind-html="sexHeaderHtml"></h1>
		</div>
		<!-- search -->
		<div class="col-md-1" id="custom-search-input">
				<input type="text" class="search-query form-control" placeholder="Search" ng-model="searchName"/>
				<div id="search-icon">
					<span class="glyphicon glyphicon-search"></span>
				</div>
		</div>
	</div>

	<!-- Table -->
	<div class="col-lg-7 col-centered" id="leaderBoard">
		<!-- ng-repeat -->
		<div id="mainRow" ng-repeat="athlete in athletes | orderBy:sortType:sortReverse | filter:searchName | filter:showCategory | filter:sex" ng-click="isCollapsed = !isCollapsed">
			<div class="row">
				<!-- place -->
				<div class="col-xs-1 place">#{{$index + 1}}</div>
				<!-- photo -->
				<div ng-if="athlete.sex == 'default'" >
					<div class="col-xs-2 photo"><img id="icon" ng-style="{border:'2px solid #20dd9b'}" ng-src="{{ athlete.photo }}"></div>
				</div>
				<div ng-if="athlete.sex == 'female'" >
					<div class="col-xs-2 photo"><img id="icon" ng-style="{border:'2px solid #f62459'}" ng-src="{{ athlete.photo }}"></div>
				</div>
				<!-- name -->
				<div class="col-xs-5 name">{{ athlete.name }}</div>
				<!-- border -->
				<div id="border"></div>
				<!-- gym -->
				<div class="col-xs-2 gym">{{ athlete.gym }}</div>
				<!-- score -->
				<div class="col-xs-2 score">{{ athlete.score }}</div>
			</div>
			<!-- bio -->
			<div uib-collapse="isCollapsed">
				<div class="row bio">
					<div col-xs-12>
						<b>ATHLETE BIO</b>
					</div>
				</div>
				<div class="row bio">
					<div class="col-md-4" id="column">
						<table>
							<tr>
								<td>Gym:</td>
								<td><b>{{ athlete.gym }}</b></td>
							</tr>
							<tr>
								<td>Age:</td>
								<td><b>{{ athlete.age }}</b></td>
							</tr>
							<tr>
								<td>Height:</td>
								<td><b>{{ athlete.height }}</b></td>
							</tr>
							<tr>
								<td>Weight:</td>
								<td><b>{{ athlete. weight }}</b></td>
							</tr>
							<tr>
								<td>Years in CF:</td>
								<td><b>{{ athlete.yInC }}</b></td>
							</tr>
						</table>
						</div>
					<div class="col-md-4" id="column">
						<table>
							<tr>
								<td>Clean & Jerk:</td>
								<td><b>{{ athlete.cj }}</b></td>
							</tr>
							<tr>
								<td>Snatch:</td>
								<td><b>{{ athlete.snatch }}</b></td>
							</tr>
							<tr>
								<td>Deadlift:</td>
								<td><b>{{ athlete.deadlift }}</b></td>
							</tr>
							<tr>
								<td>Front Squat:</td>
								<td><b>{{ athlete.frontSquat }}</b></td>
							</tr>
							<tr>
								<td>Back Squat:</td>
								<td><b>{{ athlete.backSquat }}</b></td>
							</tr>
						</table>
						</div>
					<div class="col-md-4" id="column">
						<table>
							<tr>
								<td>Fran:</td>
								<td><b>{{ athlete.fran }}</b></td>
							</tr>
							<tr>
								<td>Helen:</td>
								<td><b>{{ athlete.helen }}</b></td>
							</tr>
							<tr>
								<td>Grace:</td>
								<td><b>{{ athlete.grace }}</b></td>
							</tr>
							<tr>
								<td>Sprint 400m:</td>
								<td><b>{{ athlete.sprint }}</b></td>
							</tr>
							<tr>
								<td>1K row:</td>
								<td><b>{{ athlete.row }}</b></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- ng-repeat -->
	</div>
	<!-- Table -->
</div>
</div>

<footer><div class="col-centered">FIT Monster 2016</div></footer>