<div class="body">
<!-- header -->
<header class="header" >
	<a href="http://www.fitmonster.cz">
		<div class="logo" id="nav">
			<div class="shing">
				<img src="img/monster.png" width="160px"></img>
			</div>
		</div>
	</a>
</header>

<!-- Navigation -->
<div class="nav">

<!-- Category -->
	<div class="toggle_radio">
		<div id="toggle_slider"></div>
  	<button class="cat-button transformable" ng-class="{'current':category==='elite'}" id="elite" ng-click="category = 'elite'">ELITE</button>
  	<button class="cat-button transformable" ng-class="{'current':category==='masters'}" id="masters" ng-click="category = 'masters'">MASTERS</button>
  	<button class="cat-button transformable" ng-class="{'current':category==='open'}" id="open" ng-click="category = 'open'">OPEN</button>
  	</div>
<!-- Sex -->
    <div class="sex-radio">
    	<span class="transformable male" ng-class="{'scale':sex!=='male'}" id="male" ng-click="sex = 'male'" svg-man></span>
    	<span class="transformable female" ng-class="{'scale':sex!=='female'}" id="female" ng-click="sex = 'female'" svg-woman></span>
    </div>
<!-- Workout -->
	<div class="wod-buttons" id="container">
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-2 no-padding"><h3 class="text-align placeholder">Qualification</h3></div>
			<div class="col-xs-2 no-padding"><h3 class="text-align placeholder">CUT 1</h3></div>
			<div class="col-xs-2 no-padding"><h3 class="text-align placeholder">CUT 2</h3></div>
			<div class="col-xs-2 no-padding"><h3 class="text-align placeholder">CUT 3</h3></div>
			<div class="col-xs-2 no-padding"><h3 class="text-align placeholder">Finals</h3></div>
			<div class="col-xs-1"></div>
		</div>
		<div id="toggle_slider"></div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-2 no-padding">
				<div class="workout-list btn-group" uib-dropdown>
					<!-- dropdown button -->
				    <button type="button" id="dropdown-button" ng-click="changeWodbyText(placeText1, 'qual')" ng-class="{'current':(wod==='qualA' || wod==='qualB' || wod==='qualOV')}" class="btn button-label btn-info cat-button transformable">{{placeText1}}</button>
				    <button type="button" id="dropdown-button" ng-class="{'current':(wod==='qualA' || wod==='qualB' || wod==='qualOV')}" class="btn btn-info dropdown-toggle cat-button transformable" uib-dropdown-toggle>
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
				      <li role="menuitem"><a id="workout-item" ng-click="wodSwitch('qualA');">WOD A</a></li>
				      <li role="menuitem"><a id="workout-item" ng-click="wodSwitch('qualB');">WOD B</a></li>
				      <li class="divider"></li>
				      <li role="menuitem"><a id="workout-item" ng-click="wodSwitch('qualOV');">OVERALL</a></li>
				    </ul>
				</div>
			</div>
			<div class="col-xs-2 no-padding">
				<div class="workout-list btn-group" uib-dropdown>
					<!-- CUT 1 -->
				    <button type="button" id="dropdown-button" ng-click="changeWodbyText(placeText2, 'cut1')" ng-class="{'current':(wod==='wod1' || wod==='wod2' || wod==='wod3' || wod==='OV_1')}" class="btn button-label btn-info cat-button transformable">{{placeText2}}</button>
				    <button type="button" id="dropdown-button" ng-class="{'current':(wod==='wod1' || wod==='wod2' || wod==='wod3' || wod==='OV_1')}" class="btn btn-info dropdown-toggle cat-button transformable" uib-dropdown-toggle>
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
				      <li role="menuitem"><a id="workout-item" ng-click="wodSwitch('wod1');">WOD 1</a></li>
				      <li role="menuitem"><a id="workout-item" ng-click="wodSwitch('wod2');">WOD 2</a></li>
				      <li role="menuitem"><a id="workout-item" ng-click="wodSwitch('wod3');">WOD 3</a></li>
				      <li class="divider"></li>
				      <li role="menuitem"><a id="workout-item" ng-click="wodSwitch('OV_1');">Overall</a></li>
				    </ul>
				</div>
			</div>
			<div class="col-xs-2 no-padding">
				<div class="workout-list btn-group" uib-dropdown>
				    <!-- CUT 2 -->
				    <button type="button" id="dropdown-button" ng-click="changeWodbyText(placeText3, 'cut2')" ng-class="{'current':(wod==='wod4' || wod==='OV_2')}" class="btn button-label btn-info cat-button transformable">{{placeText3}}</button>
				    <button type="button" id="dropdown-button" ng-class="{'current':(wod==='wod4' || wod==='OV_2')}" class="btn btn-info dropdown-toggle cat-button transformable" uib-dropdown-toggle>
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
				      <li role="menuitem"><a id="workout-item" ng-class="{'current':wod==='wod4'}"ng-click="wodSwitch('wod4');">WOD 4</a></li>
				      <li class="divider"></li>
				      <li role="menuitem"><a id="workout-item" ng-class="{'current':wod==='OV_2'}"ng-click="wodSwitch('OV_2');">Overall</a></li>
				    </ul>
				</div>
			</div>
			<div class="col-xs-2 no-padding">
				<div class="workout-list btn-group" uib-dropdown>
				    <!-- CUT 3 -->
				    <button type="button" id="dropdown-button" ng-click="changeWodbyText(placeText4, 'cut3')" ng-class="{'current':(wod==='wod5' || wod==='OV_3')}" class="btn button-label btn-info cat-button transformable">{{placeText4}}</button>
				    <button type="button" id="dropdown-button" ng-class="{'current':(wod==='wod5' || wod==='OV_3')}" class="btn btn-info dropdown-toggle cat-button transformable" uib-dropdown-toggle>
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
				      <li role="menuitem"><a id="workout-item" ng-click="wodSwitch('wod5');">WOD 5</a></li>
				      <li class="divider"></li>
				      <li role="menuitem"><a id="workout-item" ng-click="wodSwitch('OV_3');">Overall</a></li>
				    </ul>
				</div>
			</div>
			<div class="col-xs-2 no-padding">
				<div class="workout-list btn-group" uib-dropdown>
				    <!-- Overall -->
				    <button type="button" id="dropdown-button" ng-click="changeWodbyText(placeText5, 'finals')" ng-class="{'current':(wod==='wod6' || wod==='OV_4')}" class="btn button-label btn-info cat-button transformable">{{placeText5}}</button>
				    <button type="button" id="dropdown-button" ng-class="{'current':(wod==='wod6' || wod==='OV_4')}" class="btn btn-info dropdown-toggle cat-button transformable" uib-dropdown-toggle>
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
				      <li role="menuitem"><a id="workout-item" ng-click="wodSwitch('wod6');">WOD 6</a></li>
				      <li class="divider"></li>
				      <li role="menuitem"><a id="workout-item" ng-click="wodSwitch('OV_4');">OVERALL</a></li>
				    </ul>
				</div>
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>
</div>

<div id="container">
	<!-- Info -->
	<div class="col-centered">
		<div class="animate" id="sexHeader">
		<!-- Sex Header -->
			<h1 ng-bind-html="sexHeaderHtml"></h1>
		</div>
		<!-- search -->
		<div class="col-md-1" id="custom-search-input">
				<input type="text" class="search-query form-control" placeholder="Search" ng-model="query"/>
				<div id="search-icon">
					<span class="glyphicon glyphicon-search"></span>
				</div>
		</div>
<!--     <div class="btn-group">
    	<button class="btn button-label btn-info">Action</button>
    	<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    		<span class="caret"></span></button>
    	<ul class="dropdown-menu">
    		<li ng-repeat="item in items">
    			<a tabindex="-1" data-ng-click="selectVal(item)">{{item.name}}</a></li></ul>
    </div> -->
	</div>

	<!-- Table -->
	<div class="col-lg-7 col-centered" id="leaderBoard">
		<!-- th -->
		<div class="row text-align tH">
			<div class="col-xs-1">
			place
			</div>
			<div class="col-xs-2">
			photo
			</div>
			<div class="col-xs-5">
			name
			</div>
			<div class="col-xs-2">
			gym
			</div>
			<div class="col-xs-2">
			score
			</div>
		</div>
		<!-- ng-repeat -->
		<!-- <div class="animate" ng-repeat="athlete in athletes | orderBy:sortType:sortReverse | filter:searchName | filter:category | filter:sex" ng-click="isCollapsed = !isCollapsed" ng-class="{'mainRow': isCollapsed, 'mainRowActive': !isCollapsed}"> -->
		<div class="animate" ng-repeat="athlete in athletes | orderBy:place:false | filter:searchName | filter:{category:category} | filter:{sex:sex}:true">
			<div class="row" ng-class="rowClass(athlete)">
				<!-- place -->
				<!-- <div class="col-xs-1 place">{{athlete.placeA}}</div> -->
				<div class="col-xs-1 place">{{getPlace(athlete)}}</div>
				<!-- photo -->
				<div ng-if="athlete.sex == 'male'" >
					<div class="col-xs-2 photo">
						<span ng-hide="athlete.photo" class="male-sm" svg-man></span>
						<img ng-show="athlete.photo" id="icon" style="border:2px solid #20dd9b;" ng-src="{{ athlete.photo }}">
					</div>
				</div>
				<div ng-if="athlete.sex == 'female'" >
					<div class="col-xs-2 photo">
						<div ng-if="athlete.qualified == '0'">
							<span ng-hide="athlete.photo" class="female-sm-gray" svg-woman></span>
						</div>
						<div ng-if="athlete.qualified != '0'">
							<span ng-hide="athlete.photo" class="female-sm" svg-woman></span>
						</div>
						<img ng-show="athlete.photo" id="icon" style="border:2px solid #f62459;" ng-src="{{ athlete.photo }}">
					</div>
				</div>
				<!-- name -->
				<div class="col-xs-5 name">{{athlete.firstName}} {{athlete.lastName}}</div>
				<!-- border -->
				<div id="border"></div>
				<!-- gym -->
				<div class="col-xs-2 gym">{{athlete.gym}}</div>
				<!-- score -->
				<div class="col-xs-2 score">{{getPoints(athlete)}}</div>
			</div>
		</div>
		<!-- ng-repeat -->
	</div>
	<!-- Table -->
</div>
</div>

<footer><div class="col-centered">FIT Monster 2016</div></footer>
