
	<!-- header -->
	<header class="header" >
		<div class="logo" id="nav">
			<div class="shing">
				<a href="http://www.fitmonster.cz">
					<img href="http://www.fitmonster.cz" src="img/monster.png" width="160px"></img>
				</a>
			</div>
		</div>
	</header>

	<h1 class="wrap">Registration</h1>

	<div class="col-md-6 col-md-offset-3 wrap">
		<form id="athlete" name="athleteForm" ng-submit="submit()">
			<div class="row wrap">
				<div class="col-md-4 col-md-offset-2">
						<label for="firstName" class="sr-only">First Name</label>
						<input type="text" ng-model="athlete.firstName" id="firstName" class="form-control" placeholder="First Name" ng-required="true" autofocus="">
				</div>
				<div class="col-md-4">
						<label for="lastName" class="sr-only">Last Name</label>
						<input type="text" ng-model="athlete.lastName" id="lastName" class="form-control" placeholder="Last Name" ng-required="true">
				</div>
			</div>
			<div class="row wrap">
				<div class="col-md-4 col-md-offset-2">
						<label for="email" class="sr-only">Email</label>
						<input type="email" ng-model="athlete.email" uib-tooltip="@" id="email" class="form-control" placeholder="Email" ng-required="true">
					  <div ng-messages="errors" class="registration-messages" role="alert">
					    <div ng-message="emailAlreadyExists">This email address already exists.</div>
					    <div ng-message="emailError">Bad Email.</div>
					  </div>
				</div>
				<div class="col-md-4">
						<label for="phone" class="sr-only">Telephone</label>
						<input type="text" ng-model="athlete.phone" uib-tooltip="+420" id="phone" class="form-control" placeholder="Telephone number" ng-required="true">
				</div>
			</div>

			<div class="row wrap">
				<div class="col-md-4 col-md-offset-2">
						<label for="gym" class="sr-only">Gym</label>
						<input type="text" ng-model="athlete.gym" uib-tooltip="Oterwise put independent" id="gym" class="form-control" placeholder="Gym" ng-required="true">
				</div>

				<div class="col-md-4">
					<p class="input-group">
						<input type="text" ng-pattern='datePattern' placeholder="Birthday" uib-tooltip="dd.mm.yyyy" class="form-control ng-valid-date ng-valid ng-valid-required" uib-datepicker-popup="{{format}}" popup-placement="bottom-right" ng-model="athlete.bDay" name="bDay" is-open="dateOpened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" required/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="dateOpened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						<div ng-messages="athleteForm.bDay.$error" class="registration-messages" role="alert">
							<div ng-message="date">Please feel in form dd.mm.yyyy (ex. 1.1.1990)</div>
						</div>
					</p>
				</div>
			</div>

			<div class="col-centered">
				<div class="toggle_radio">
					<button class="cat-button transformable" ng-class="{'current':athlete.category === 'elite'}" id="elite" ng-click="athlete.category = 'elite';">ELITE</button>
					<button class="cat-button transformable" ng-class="{'current':athlete.category === 'masters'}" id="masters" ng-click="athlete.category = 'masters';">MASTERS 35+</button>
					<button class="cat-button transformable" ng-class="{'current':athlete.category === 'open'}" id="open" ng-click="athlete.category = 'open';">OPEN</button>
				</div>

				<div class="sex-radio">
					<img class="transformable" ng-class="{'scale':athlete.sex !== 'male'}" id="male" ng-click="athlete.sex = 'male'" src="img/man.png">
					<img class="transformable" ng-class="{'scale':athlete.sex !== 'female'}" id="female" ng-click="athlete.sex = 'female'" src="img/woman.png">
				</div>
			</div>

			<div class="col-centered wrap">
				<div class="inline">
					<button id="s" class="shirt transformable" ng-class="{'current':athlete.shirt === 's'}" ng-click="athlete.shirt = 's'" svg-shirt></button><p>S</p>
				</div>
				<div class="inline">
					<button id="m" class="shirt transformable" ng-class="{'current':athlete.shirt === 'm'}" ng-click="athlete.shirt = 'm'" svg-shirt></button><p>M</p>
				</div>
				<div class="inline">
					<button id="l" class="shirt transformable" ng-class="{'current':athlete.shirt === 'l'}" ng-click="athlete.shirt = 'l'" svg-shirt></button><p>L</p>
				</div>
				<div class="inline">
					<button id="xl" class="shirt transformable" ng-class="{'current':athlete.shirt === 'xl'}" ng-click="athlete.shirt = 'xl'" svg-shirt></button><p>XL</p>
				</div>
			</div>

			<div class="col-md-6 col-md-offset-3">
				<div class="checkbox">
					<input type="checkbox" ng-model="athlete.terms" ng-model="valid = 'true'" ng-required="true"> <span style="color: #ff0000;">*</span>I agree with <span style="text-decoration: underline;"><a title="Podmínky" href="http://fitmonster.cz/conditions/">terms&conditions</a></span> of FIT Monster Team, z.s.
				</div>
			</div>

			<div class="col-md-8 col-md-offset-2 wrap">
				<div ng-show="athleteForm.$submitted">
					<div ng-messages="athleteForm.$error" class="registration-messages" role="alert">
						<div ng-message="required">Please feel all required items.</div>
					</div>
					<div ng-messages="athleteForm" class="registration-messages" role="alert">
						<div ng-message="$invalid">Please fix all error in formular.</div>
					</div>
					<div ng-messages="errors" class="registration-messages" role="alert">
						<div ng-message="emailAlreadyExists">This email address already exists.</div>
					</div>
					<div ng-messages="errors" class="registration-messages" role="alert">
						<div ng-message="unavailable">The server is currenty unavailable. Try again later.</div>
						<div ng-message="badRequest">Empty Formular. Try again.</div>
						<div ng-message="internal">Internal server error.</div>
					</div>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="modal()">REGISTER</button>
			</div>
		</form>
	</div>