<div class="body">
<!-- header -->
<header class="header" >	
	<a href="http://www.fitmonster.cz">
		<div class="logo" id="nav">
			<div class="shing">
				<img src="img/monster.png" width="160px"></img>
			</div>
		</div>		
	</a>
</header>

<h1 class="wrap">Roster</h1>

<!-- Navigation -->
<div class="nav">

<!-- Category -->
	<div class="toggle_radio">
		<div id="toggle_slider"></div>
  	<button class="cat-button transformable" ng-class="{'current':category==='elite'}" id="elite" ng-click="category = 'elite'">ELITE</button>
  	<button class="cat-button transformable" ng-class="{'current':category==='masters'}" id="masters" ng-click="category = 'masters'">MASTERS</button>
  	<button class="cat-button transformable" ng-class="{'current':category==='open'}" id="open" ng-click="category = 'open'">OPEN</button>
  	</div>
<!-- Sex -->
    <div class="sex-radio">
    	<img class="transformable" ng-class="{'scale':sex!=='male'}" id="male" ng-click="sex = 'male'" src="img/man.png">
    	<img class="transformable" ng-class="{'scale':sex!=='female'}" id="female" ng-click="sex = 'female'" src="img/woman.png">
    </div>

<div id="container">
	<!-- Info -->
	<div class="col-centered">
		<div id="sexHeader">
		<!-- Sex Header -->
			<h1>{{sex==='male'?'MEN':'WOMEN'}}</h1>
		</div>
		<!-- search -->
		<div class="col-md-1" id="custom-search-input">
				<input type="text" class="search-query form-control" placeholder="Search" ng-model="searchName"/>
				<div id="search-icon">
					<span class="glyphicon glyphicon-search"></span>
				</div>
		</div>
	</div>

	<!-- Table -->
	<div class="col-lg-7 col-centered" id="leaderBoard">
		<!-- ng-repeat -->
		<div class="animate mainRow" id="noPointer" ng-repeat="athlete in athletes | orderBy:sortType:sortReverse | filter:searchName | filter:category:true | filter:sex:true">
			<div class="row">
				<!-- photo -->
				<div ng-if="athlete.sex == 'male'" >
					<div class="col-xs-2 photo"><img id="icon" ng-style="{border:'2px solid #20dd9b'}" ng-src="{{ athlete.photo||'img/man.png' }}"></div>
				</div>
				<div ng-if="athlete.sex == 'female'" >
					<div class="col-xs-2 photo"><img id="icon" ng-style="{border:'2px solid #f62459'}" ng-src="{{ athlete.photo||'img/woman.png' }}"></div>
				</div>
				<!-- name -->
				<div class="col-xs-5 name">{{ athlete.lastName }} {{ athlete.firstName }}</div>
				<!-- border -->
				<div id="border"></div>
				<!-- gym -->
				<div class="col-xs-2 gym">{{ athlete.gym }}</div>
			</div>
		</div>
		<!-- ng-repeat -->
	</div>
	<!-- Table -->
</div>
</div>

<footer><div class="col-centered">FIT Monster 2016</div></footer>
