<div class="content-wrap">
	<h1>FM2016 Qualification</h1>

	<div class="col-md-10 col-md-offset-1 paddingzero"><h3 class="marginzero">Next to judge:</h3></div>
	<div class="col-md-10 col-md-offset-1 qual-wrap">
		<!-- placeholder -->
		<div class="col-md-12 placeholder text-align padding200" ng-show="!nextToJudge.video">
		Nothing to judge
		</div>

		<!-- to judge row -->
		<div ng-show="nextToJudge.video"  class="row">
			<div class="col-md-12 tH">
				<div class="row clearfix">
					<div class="col-md-4 column">Name</div>
					<div class="col-md-3 column">Category</div>
					<div class="col-md-3 column">Sex</div>
					<div class="col-md-2 column">Video</div>
					<!--div class="col-md-4 column text-align">WOD A
						<div class="row clearfix glyph1rem">
							<div class="col-md-4 column">Score</div>
							<div class="col-md-4 column">No reps</div>
							<div class="col-md-4 column">Overall</div>
						</div>
					</div>
					<div class="col-md-2 column text-align">WOD B</div>
					<div class="col-md-1 column">Link</div-->
				</div>
				<div class="row clearfix judgerow" ng-class="{'judgerow-active' : nextToJudge.reserved}">
					<div class="col-md-4 column">{{nextToJudge.firstName}} {{nextToJudge.lastName}}</div>
					<div class="col-md-3 column">{{nextToJudge.category}}</div>
					<div class="col-md-3 column">{{nextToJudge.sex}}</div>
					<div class="col-md-2 column">
						<a type="button" a-Disabled="!nextToJudge.reserved" ng-class="{'videolink' : nextToJudge.reserved}" ng-href="{{nextToJudge.video}}" class="videolink-disable fa fa-video-camera" target="_blank"></a>
					</div>

					<!--div class="col-md-4 column text-align">
						<div class="row clearfix">
							<div class="col-md-4 column borderleft">
								<span editable-text="nextToJudge.pointsA">{{nextToJudge.pointsA}}</span>
							</div>
							<div class="col-md-4 column borderleft">
								<span editable-number="nextToJudge.norepsA">{{nextToJudge.norepsA}}</span>
							</div>
							<div class="col-md-4 column borderleft">
								{{nextToJudge.overallA}}
							</div>
						</div>
					</div>
					<div class="col-md-2 column borderleft text-align">
						<span editable-number="nextToJudge.pointsB">{{nextToJudge.pointsB}}</span>
					</div>
					<div class="col-md-1 column borderleft">.
						<a type="button" a-Disabled="judgeEdit" ng-class="{'videolink' : !judgeEdit}" ng-href="{{nextToJudge.video}}" class="videolink-disable fa fa-video-camera" target="_blank"></a>
					</div-->
				</div>
			</div>
		</div>
		<div class="row" ng-show="nextToJudge.video">
			<div class="col-md-5">
				<fieldset class="form-group">
					<label for="formGroupExampleInput">WOD A - Score</label>
					<input type="text" class="form-control" id="formGroupExampleInput" ng-model="nextToJudge.pointsA_j" placeholder="Score" ng-disabled="!nextToJudge.reserved">
				</fieldset>
				<fieldset class="form-group">
					<label for="formGroupExampleInput">WOD A - No Reps</label>
					<input type="text" class="form-control" id="formGroupExampleInput" ng-model="nextToJudge.pointsA_j_norep" placeholder="No Reps" ng-disabled="!nextToJudge.reserved">
				</fieldset>
				<fieldset class="form-group">
					<label>Overall WOD A: {{nextToJudge.overallA}}</label>
				</fieldset>
			</div>
			<div class="col-md-offset-1 col-md-5">
				<fieldset class="form-group">
					<label for="formGroupExampleInput">WOD B</label>
					<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Score" ng-model="nextToJudge.pointsB_j" ng-disabled="!nextToJudge.reserved">
				</fieldset>
			</div>
		</div>

		<div class="row" ng-show="nextToJudge.video">
			<div class="alert alert-danger" role="alert" ng-show="err">{{err}}</div>

			<!-- buttons -->
			<div class="col-md-offset-5 col-md-1"  ng-show="nextToJudge.video">
				<!-- judge/next -->
				<button href="#" class="btn btn-warning" ng-click="reserve(nextToJudge.login)" ng-show="!nextToJudge.reserved" >
					<span>Judge</span>
				</button>
				<!-- save/cancel -->
				<button ng-show="nextToJudge.reserved" type="submit" class="btn btn-primary" ng-click="save()">Save</button>
			</div>
			<div class="col-md-1 "  ng-show="nextToJudge.video">
				<button href="#" class="btn btn-primary" ng-show="!nextToJudge.reserved" ng-click="reload()">
					<span>Next >></span>
				</button>
				<button ng-show="nextToJudge.reserved" type="button" class="btn btn-default" ng-click="cancelReserved()">Cancel</button>
			</div>
		</div>
	</div>

	<div class="col-md-10 col-md-offset-1 paddingzero"><h3 class="marginzero">My judged athletes:</h3></div>
	<div class="col-md-10 col-md-offset-1 qual-wrap">
		<div class="col-md-12 placeholder text-align padding200" ng-show="!judged">
			Nobody yet judged
		</div>
		<div class="table-responsive" ng-show="judged">
			<table class="table table-striped">
				<thead class="tH">
					<tr>
						<th>
							Name
						</th>
						<th>
							Cat.
						</th>
						<th>
							Sex
						</th>
						<th>
							WOD A - score
						</th>
						<th>
							WOD A - no reps
						</th>
						<th>
							WOD A - overall score
						</th>
						<th>
							WOD B
						</th>
						<th>
							Link
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="a in judged" style="color:black;">
						<td>
							{{a.firstName}} {{a.lastName}}
						</td>
						<td>
							{{a.category}}
						</td>
						<td>
							{{a.sex}}
						</td>
						<td>
							{{a.pointsA_j}}
						</td>
						<td>
							{{a.pointsA_j_norep}}
						</td>
						<td>
							{{a.overallA}}
						</td>
						<td>
							{{a.pointsB_j}}
						</td>
						<td>
							<a type="button" ng-href="{{a.video}}" class="videolink fa fa-video-camera" target="_blank"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>