<div class="content-wrap">
	<h1>Qualification to FM2016</h1>

	<div class="col-xs-6 col-centered col-min">
			<button ui-sref="submitvideo" class="submit-qual">
				<span class="fa fa-video-camera"></span>
				<span class="submit-text">Submit video</span>
			</button>
		</div>

	<div class="col-md-10 col-md-offset-1 qual-wrap">
		<div class="col-xs-12 col-md-3 col-md-offset-1">
			<div class="row">
				<div class="col-xs-6 col-md-5 margintop"><img src="img/monster.png" width="80px"></div>
				<div class="col-xs-6 col-md-7 padding200 margintop">FIT MONSTER 2016<br>Qualification</div>
			</div>
			<div class="row margintop">
				<div class="col-xs-6 col-md-5">
					<i class="fa fa-calendar glyph2rem paddingleft" aria-hidden="true"></i>
				</div>
				<div class="col-xs-6 col-md-7 paddingzero">28. - 29. 5. 2016</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-5">
					<i class="fa fa-map-marker glyph2rem paddingleft" aria-hidden="true"></i>
				</div>
				<div class="col-xs-6 col-md-7 paddingzero">Brno, Velodrom</div>
			</div>
			<div class="row margintop">
				<a class="glyph2rem standarts" target="_blank" href="/pdf/standardy_cz.pdf" download="standardy_cz.pdf">
					<div class="col-xs-6 col-md-5">
						<i class="fa fa-book paddingleft"></i>
					</div>
					<div class="col-xs-6 col-md-7 paddingzero">standarts</div>
				</a>
			</div>
			<div class="row">
				<a class="glyph1-5rem standarts" target="_blank" href="/pdf/standarts_en.pdf" download="standarts_en.pdf">
					<div class="col-xs-6 col-md-5">
						<i class="fa fa-book paddingleft"></i>
					</div>
					<div class="col-xs-6 col-md-7 paddingzero">standarts ENG</div>
				</a>
			</div>
			<div class="row">
				<a class="glyph2rem standarts" target="_blank" href="/pdf/scoresheet161.pdf" download="scoresheet161.pdf">
					<div class="col-xs-6 col-md-5">
						<i class="fa fa-table paddingleft"></i>
					</div>
					<div class="col-xs-6 col-md-7 paddingzero">scoresheet</div>
				</a>
			</div>
			<div class="row padding200">
				<a class="tickets" href="https://goout.cz/cs/listky/fit-monster/xdm/">
					<div class="col-xs-6 col-md-5">
						<i class="fa fa-ticket glyph2rem paddingleft" aria-hidden="true"></i>
					</div>
					<div class="col-xs-6 col-md-7 paddingzero">Buy ticket</div>
				</a>
			</div>
		</div>

		<div class="col-xs-12 col-md-7 padding200">
			<div class="col-md-10 col-centered h_iframe">
			<img class="ratio" src="http://placehold.it/16x9"/>
				<iframe src="https://www.youtube.com/embed/PxQVf7J-Bgs" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-xs-12 col-md-12 text-align">
			<p>Welcome to qualification for the Monster FIT 2016. Qualifier itself consists of two parts. In the first part, you have seven minutes to complete the workout A and 4 min to complete workout B.</p>

			<p><b>On the video, show clearly the weight to the camera and throughout the video must be visible timekeeping, otherwise the video are invalid.</b></p>

			<p>Workout A consists of Ground to overhead and Chest to bar for Elite Men, Elite Women and Masters Men. For the rest of the category is listed GROUND TO OVERHEAD and PULL UPS. Weights fot ground to overhead are listed in standards.</p>

			<p>Workout B are 2rep max CLUSTER. You have 4 minutes to find your maximum at 2 reps for Cluster.</p>

			<p>It is permissible for a workout, use one or more bars. I.e., after you finished the first part you don`t use a bar with which you compete, but you can have loaded replacement bar. However, you can`t reduce the weight down during the attempt. That means if you make an unsuccessful attempt with 50 Kg so you can`t go for another attempt with 40 Kg.</p>

			<p><b>The overall order is determined by the total points of workout A and B.</b></p>
		</div>
	</div>
</div>