<script src="bower_components/iframe-resizer/src/iframeResizer.contentWindow.js"></script>

<div class="content-wrap">
	<h1>Qualification to FM2016</h1>

	<div class="col-md-10 col-md-offset-1 qual-wrap">

		<div class="col-xs-6 col-centered col-min">
			<button ui-sref="user.submitvideo"class="submit-qual">
				<span class="glyphicon glyphicon-facetime-video"></span>
				<span class="submit-text">Submit video</span>
			</button>
		</div>

		<div class="row col-md-10 col-md-offset-1 padding400 padding020">
			<div class="col-md-6 padding200">
				<div class="infobox-qual">
					<img class="margin030" src="img/monster.png" width="60px">
					<p>FIT MONSTER 2016<br>
					Qualification</p>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1  padding200">
				<div class="infobox-qual">
					<span class="margin030 glyphicon glyphicon-calendar glyph2rem"></span>
					<span>28. - 29. 5. 2016</span>
				</div>
				<div class="infobox-qual">
					<span class="margin030 padding200 glyphicon glyphicon-map-marker glyph2rem"></span>
					<span>Brno, Velodrom</span>
				</div>
			</div>
		</div>

		<div class="col-md-12 padding400 padding020">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur vitae diam non enim vestibulum interdum. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Nullam eget nisl. Etiam quis quam. Fusce wisi. Praesent in mauris eu tortor porttitor accumsan. Sed convallis magna eu sem. Fusce suscipit libero eget elit. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Integer imperdiet lectus quis justo.</p>
		</div>

		<div class="col-md-12 padding400 padding020">
			<div class="col-md-4 col-centered">
				<div class="col-md-6 inline">
					<a class="glyph4rem standarts" target="_self" href="/pdf/standarts161.pdf" download="standarts161.pdf"><i class="fa fa-book"></i><p class="labeltext">standarts</p></a>
				</div>
				<div class="col-md-6 inline">
					<a class="glyph4rem standarts" target="_self" href="/pdf/scoresheet161.pdf" download="scoresheet161.pdf"><i class="fa fa-table"></i><p class="labeltext">scoresheet</p></a>
				</div>
			</div>
		</div>

		<div class="col-md-12 padding400 padding020">
			<div class="col-md-10 col-centered h_iframe">
			<img class="ratio" src="http://placehold.it/16x9"/>
				<iframe src="https://www.youtube.com/embed/PxQVf7J-Bgs" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>