<!-- Panel top -->
<div class="panel-top">
	<!-- mobile -->
	<div class="mobile-menu" uib-dropdown on-toggle="toggled(open)">
		<span id="mobile" class="glyphicon glyphicon-menu-hamburger" uib-dropdown-toggle></span>
			<ul uib-dropdown-menu class="dropdown-mobile" aria-labelledby="mobile">
				<!-- <li><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
				<li class="divider"></li>
				<li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Events</a></li> -->
				<li class="divider"></li>
				<!--li><a ui-sref=".qual"><span class="glyphicon glyphicon-check"></span> Qualification</a></li>
				<li class="divider"></li-->
				<li><a ui-sref=".qual"><span class="glyphicon glyphicon-check"></span> Judge</a></li>
				<!--li class="divider"></li>
				<li><a ui-sref=".profile"><i class="fa fa-gavel" aria-hidden="true"></i></span> My profile</a></li-->
			</ul>
	</div>
	<!-- navigation -->
	<div class="user-name">
		<h4>{{ athlete.firstName }} {{ athlete.lastName }}</h4>
	</div>
	
	<div class="nav-photo pointer" uib-dropdown is-open="status.isopen" ng-mouseenter="status.isopen = true">
	<!-- male -->
		<div ng-if="athlete.sex == 'male'">
			<span ng-hide="athlete.photo" class="male-sm marginzero" svg-man uib-dropdown-toggle></span>
			<img ng-show="athlete.photo" id="nav-icon" ng-style="{border:'2px solid #20dd9b'}" ng-src="{{ athlete.photo }}" uib-dropdown-toggle>
		</div>

	<!-- female -->
		<div ng-if="athlete.sex == 'female'">
			<span ng-hide="athlete.photo" class="female-sm marginzero" svg-woman uib-dropdown-toggle></span>
			<img ng-show="athlete.photo" id="nav-icon" ng-style="{border:'2px solid #f62459'}" ng-src="{{ athlete.photo }}" uib-dropdown-toggle>
		</div>

		<ul uib-dropdown-menu class="dropdown-nav" role="menu" aria-labelledby="nav-icon" ng-mouseleave="status.isopen = false">
			<!--li><a ui-sref=".profile">My profile</a></li>
			<li class="divider"></li-->
			<li><a ng-click="logout()">Log out <span class="glyphicon glyphicon-log-out"></span></a></li>
		</ul>
	</div>

</div>

<!-- Panel left -->
<div class="panel-left clearfix">
	<div class="nav-logo" id="nav-logo">
		<img id="logo" src="img/monster.png">
	</div>
	<div class="btn-wrapper">
		<!-- <button class="menu-btn" ui-sref=".dashboard"><span class="icon glyphicon glyphicon-dashboard"></span>Dashboard</button>
		<button class="menu-btn" ui-sref=".events"><span class="icon glyphicon glyphicon-calendar"></span>Events</button> -->
		<!--button class="menu-btn" ui-sref-active="menu-btn-active" ui-sref=".qual"><span class="icon glyphicon glyphicon-check"></span>Qualification</button-->
		<!--button class="menu-btn" ui-sref-active="menu-btn-active" ui-sref=".profile"><span class="icon glyphicon glyphicon-user"></span>
		My profile</button-->
		<!-- <button class="menu-btn" ui-sref-active="menu-btn-active" ui-sref=".admin"><span class="icon glyphicon glyphicon-king"></span>
		Admin</button> -->
		<button class="menu-btn" ui-sref-active="menu-btn-active" ui-sref=".judge"><i class="icon fa fa-gavel" aria-hidden="true"></i></span>
		Judge</button>
	</div>
	<!-- <footer><div class="col-centered">FIT Monster 2016</div></footer> -->
</div>

<!-- MAIN -->
<div class="main" ui-view></div>
