<div class="content-wrap">
	<h1>Qualification to FM2016</h1>

	<div class="col-xs-6 col-centered col-min">
			<button ui-sref="submitvideo" class="submit-qual">
				<span class="fa fa-video-camera"></span>
				<span class="submit-text">Submit video</span>
			</button>
		</div>

	<div class="col-md-10 col-md-offset-1 qual-wrap">
		<div class="col-xs-12 col-md-3 col-md-offset-1">
			<div class="row">
				<div class="col-xs-6 col-md-5 margintop"><img src="img/monster.png" width="80px"></div>
				<div class="col-xs-6 col-md-7 padding200 margintop">FIT MONSTER 2016<br>Qualification</div>
			</div>
			<div class="row margintop">
				<div class="col-xs-6 col-md-5">
					<i class="fa fa-calendar glyph2rem paddingleft" aria-hidden="true"></i>
				</div>
				<div class="col-xs-6 col-md-7 paddingzero">28. - 29. 5. 2016</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-5">
					<i class="fa fa-map-marker glyph2rem paddingleft" aria-hidden="true"></i>
				</div>
				<div class="col-xs-6 col-md-7 paddingzero">Brno, Velodrom</div>
			</div>
			<div class="row margintop">
				<a class="glyph2rem standarts" target="_blank" href="/pdf/standarts161.pdf" download="standarts161.pdf">
					<div class="col-xs-6 col-md-5">
						<i class="fa fa-book paddingleft"></i>
					</div>
					<div class="col-xs-6 col-md-7 paddingzero">standarts</div>
				</a>
			</div>
			<div class="row">
				<a class="glyph2rem standarts" target="_blank" href="/pdf/scoresheet161.pdf" download="scoresheet161.pdf">
					<div class="col-xs-6 col-md-5">
						<i class="fa fa-table paddingleft"></i>
					</div>
					<div class="col-xs-6 col-md-7 paddingzero">scoresheet</div>
				</a>
			</div>
			<div class="row padding200">
				<a class="tickets" href="https://goout.cz/cs/listky/fit-monster/xdm/">
					<div class="col-xs-6 col-md-5">
						<i class="fa fa-ticket glyph2rem paddingleft" aria-hidden="true"></i>
					</div>
					<div class="col-xs-6 col-md-7 paddingzero">Buy ticket</div>
				</a>
			</div>
		</div>

		<div class="col-xs-12 col-md-7 padding200">
			<div class="col-md-10 col-centered h_iframe">
			<img class="ratio" src="http://placehold.it/16x9"/>
				<iframe src="https://www.youtube.com/embed/PxQVf7J-Bgs" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-xs-12 col-md-12 text-align">
			<p>Vítej u kvalifikace na FIT Monster 2016. Samotná kvalifikace se skládá ze dvou částí. V první části máš 7 min na to abys dokončil workout A a 4 min na workout B.</p>

			<p><b>Na videu se představ, ukaž váhu viditelně na kameru a po celou dobu videa musí být vidět časomíra, jinak je video neplatné.</b></p>

			<p>Workout A se skládá z Ground to overhead a Chest to bar pro Elite muže, Elite ženy a Masters Muže. Pro zbytek kategorii jsou vypsány pull ups. Váhy určené na Ground to overhead vidíš na obrazovce.</p>

			<p>Workout B jsou 2reps max cluster. Máš 4 min na to abys našel své maximum na 2 opakování pro Cluster.</p>

			<p>Je povoleno pro workout použít jednu, nebo i více os. Tj. po odjetí první části nemusíš použít osu se kterou si cvičil, ale můžeš mít přednaloženou náhradní osu. Avšak nesmíš snižovat během pokusů váhu. To znamená, pokud uděláš neúspěšný pokus s 50kg tak už nemůžeš jít na další pokus se 40kg.</p>

			<p><b>O celkovém pořadí rozhoduje součet bodů z workoutu A a B.</b></p>
		</div>
	</div>
</div>