<div class="content-wrap">
	<h1>FM2016 Qualification</h1>

	<div class="col-md-10 col-md-offset-1 paddingzero"><h3 class="marginzero">Next to judge:</h3></div>
	<div class="col-md-10 col-md-offset-1 qual-wrap">
		<div class="col-xs-12 placeholder text-align padding200" ng-show="!nextToJudge">
		Nothing to judge
		</div>
		<div class="col-xs-12 placeholder text-align padding200" ng-show="nextToJudge">
			
		</div>
	</div>

	<div class="col-md-10 col-md-offset-1 paddingzero"><h3 class="marginzero">My judged athletes:</h3></div>
	<div class="col-md-10 col-md-offset-1 qual-wrap">
		<div class="col-xs-12 placeholder text-align padding200">
		Nobody yet judged
		</div>
	</div>
</div>